<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Work Orders</title>
</head>
<body>
  <h1>Work Orders for <%= customer.name %></h1>
  <h2>There are <%= numOrders %> WorkOrders associated with this customer</h2>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Status</th>
        <th>Technician</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% workOrders.forEach(workOrder => { %>
        <tr>
          <td><%= workOrder.description %></td>
          <td><%= workOrder.status %></td>
          <td><%= workOrder.technician %></td>
          <td><%= workOrder.createdAt %></td>
          <td>
            <a href="/api/workOrders/<%= workOrder._id %>" class="btn btn-primary btn-sm">View</a>
            <a href="/api/workOrders/<%= workOrder._id %>/edit" class="btn btn-warning btn-sm">Edit</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <button><a href="/api/customers">Customers Page</a></button>
</body>
</html>
